<html>
  <head>
    <meta charset="UTF-8"> 
    <script src="/js/vega-4.2.0.min.js"></script>
    <script src="/js/custom.js"></script>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div id="view"></div>
  </body>
</html>